<form [formGroup]="issueForm" action="" novalidate>
  {{ issue | json }}
  <hr />
  {{ issueForm.value | json }}

  <div class="form-group">
    <label for="title">Title</label>
    <input
      formControlName="title"
      [class.is-valid]="
        issueForm.controls.title.valid && issueForm.controls.title.touched
      "
      [class.is-invalid]="
        issueForm.controls.title.invalid &&
        issueForm.controls.title.touched &&
        issueForm.controls.title.dirty
      "
      type="text"
      class="form-control"
      id="title"
      placeholder="My Issue 1"
      required
    />
    <div class="invalid-feedback">Please provide a title!</div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      formControlName="description"
      [class.is-valid]="
        issueForm.controls.description.valid &&
        issueForm.controls.description.touched
      "
      [class.is-invalid]="
        issueForm.controls.description.invalid &&
        issueForm.controls.description.touched &&
        issueForm.controls.description.dirty
      "
      class="form-control"
      id="description"
      rows="5"
      required
    ></textarea>
    <div class="invalid-feedback">Please provide a description!</div>
  </div>
  <div class="form-group">
    <label for="place">Place</label>
    <input
      formControlName="place"
      [class.is-valid]="
        issueForm.controls.place.valid && issueForm.controls.place.touched
      "
      [class.is-invalid]="
        issueForm.controls.place.invalid &&
        issueForm.controls.place.touched &&
        issueForm.controls.place.dirty
      "
      type="text"
      class="form-control"
      id="place"
      placeholder="Place"
      required
    />
    <div class="invalid-feedback">Please provide a place!</div>
  </div>
  <div class="form-group">
    <label for="status">Status</label>
    <select
      formControlName="status"
      [class.is-valid]="
        issueForm.controls.status.valid && issueForm.controls.status.touched
      "
      [class.is-invalid]="
        issueForm.controls.status.invalid &&
        issueForm.controls.status.touched &&
        issueForm.controls.status.dirty
      "
      class="form-control"
      id="status"
      required
    >
      <option value="Open">Open</option>
      <option value="In Progress">In Progress</option>
      <option value="Closed">Closed</option>
    </select>
    <div class="invalid-feedback">Please select a status!</div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
